{% extends '__base__.html' %}
{% block title %}关于我{% endblock %}
{% block beforehead %}
<style type="text/css">
#about{
    border: 1px solid #000;
}
</style>
{% endblock %}
{% block content %}

<div class="uk-panel uk-panel-box uk-panel-box-primary uk-margin-top" id="about">
    <article class="uk-article uk-margin-left uk-margin-right uk-margin-top uk-margin-bottom">
        <h3>关于我</h3>
        <p class="uk-article-meta">
            2017年3月13日
        </p>
        <p class="uk-text-small">很久没有写些东西了，事实是也没写过什么东西，代码除外。现在是大二的下学期，这个网站是寒假完成的，基本按照廖雪峰老师的python实战教程来写，现在能够对网站自行修改。
            写这个网站主要是作为自己的学习笔记，同时分享一些教程。如果你能看见这篇文章，俗话说相逢便是有缘，请多多光临。
        </p>
        <p class="uk-text-samll">
            正文开始，先讲一个故事吧。一个刚接触到c语言的学生问老师，学会了c语言我就能写外挂，写很牛逼的东西了吗。老师回答:理论上可以。现在我终于明白那理论上可以需要花费多大的功夫，虽然我到
            现在都不会用c写外挂，学习计算机编程是一条漫长的路。在我还没上大学的时候，以为学习计算机就是修电脑。在我学习c语言的时候，面对的都是一些数学运算问题，当时还不明白学习c语言能用来干什么。
            凭着自己的好奇心和兴趣，现在终于能够一览计算机科学的总体外貌。在大一，在计算机编程方面我定下了三个目标，一个是操作系统，一个网站，一个webserver。现在这个简易网站完成了一个小目标。
            我喜欢去图书馆，在靠着窗的地方写代码，一写就是从白天到晚上，在这安静的氛围里就是我最安心的时间，在代码的世界里可以创造出任何自己想要的。
        </p>
        <p class="uk-text-samll">
            蓦然回首，高考就似昨天，大学毕业也会是明天。作为一个菜鸡，没有什么特别的经历，没有什么强大的能力，我只知道这个年级不是用来荒废的，有人说高考是他们的智商巅峰，我想说,
            我一直在智商巅峰迈进，未来的路很长，也许等到大学毕业，我能够成为大神，会有别样的故事。等到那时候，不知道自己的心情又是如何。未完待续。。。
        </p>
        <hr class="uk-divider-icon">
        <h3>联系方式:</h3>
        <ul>
          <li>email:qq1679781770@gmail.com,1679781770@qq.com</li>
          <li>
              github:https://github.com/qq1679781770
          </li>
        </ul>
    </article>
</div>
{% endblock %}